<div class="row">
  <div class="form-group">
    <label for="">İsim</label>
    <input type="text" class="form-control" [(ngModel)]="obje.name">
  </div>
  <div class="form-group">
    <label for="">Gsm</label>
    <input type="tel" class="form-control" [(ngModel)]="obje.gsm">
  </div>
  <span *ngIf="obje.gsm !==undefined">

    <div *ngIf="obje.gsm.length <10" class="alert alert-danger" role="alert">
GSM Eksik
</div>
  </span>

  <button class="btn btn-success" (click)="kaydet()">Kaydet</button>
</div>
